In [60]:
import pandas as pd
import numpy as np
import seaborn as sns
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2

In [61]:
train = pd.read_csv("train.csv")
test = pd.read_csv("valid.csv")

In [62]:
train.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term,loan_status
0,NaN,NaN,14000,14000,14000.0,36 months,7.35,434.53,A,A4,...,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN,1
1,NaN,NaN,2000,2000,2000.0,36 months,16.29,70.61,D,D2,...,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN,1
2,NaN,NaN,5000,5000,4750.0,36 months,7.39,155.28,A,A4,...,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN,1
3,NaN,NaN,20600,20600,20600.0,36 months,11.99,684.12,B,B5,...,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN,1
4,NaN,NaN,10000,10000,10000.0,36 months,7.39,310.56,A,A4,...,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN,1

In [63]:
train.columns

Index(['id', 'member_id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv',
       'term', 'int_rate', 'installment', 'grade', 'sub_grade',
       ...
       'hardship_last_payment_amount', 'disbursement_method',
       'debt_settlement_flag', 'debt_settlement_flag_date',
       'settlement_status', 'settlement_date', 'settlement_amount',
       'settlement_percentage', 'settlement_term', 'loan_status'],
      dtype='object', length=145)

In [118]:
unique_value_counts = train.nunique()
print(unique_value_counts)

loan_amnt           1496
funded_amnt         1496
funded_amnt_inv     4405
term                   2
int_rate             626
                    ...
other                  2
renewable_energy       2
small_business         2
vacation               2
wedding                2
Length: 72, dtype: int64

In [64]:
train.dropna(axis = 1 , inplace=True)

In [65]:
train.head()

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,home_ownership,annual_inc,...,collection_recovery_fee,last_pymnt_amnt,policy_code,application_type,acc_now_delinq,delinq_amnt,hardship_flag,disbursement_method,debt_settlement_flag,loan_status
0,14000,14000,14000.0,36 months,7.35,434.53,A,A4,MORTGAGE,44000.0,...,0.0,8611.87,1,Individual,0.0,0.0,N,Cash,N,1
1,2000,2000,2000.0,36 months,16.29,70.61,D,D2,MORTGAGE,11420.0,...,0.0,70.18,1,Individual,0.0,0.0,N,Cash,N,1
2,5000,5000,4750.0,36 months,7.39,155.28,A,A4,MORTGAGE,65000.0,...,0.0,2662.94,1,Individual,0.0,0.0,N,Cash,N,1
3,20600,20600,20600.0,36 months,11.99,684.12,B,B5,MORTGAGE,46956.0,...,0.0,683.96,1,Individual,0.0,0.0,N,Cash,N,1
4,10000,10000,10000.0,36 months,7.39,310.56,A,A4,MORTGAGE,115000.0,...,0.0,4753.53,1,Individual,0.0,0.0,N,Cash,N,1

In [66]:
unique_value_counts = train.nunique()
print(unique_value_counts)

loan_amnt                    1496
funded_amnt                  1496
funded_amnt_inv              4405
term                            2
int_rate                      626
installment                 63290
grade                           7
sub_grade                      35
home_ownership                  6
annual_inc                  32670
verification_status             3
issue_d                       138
pymnt_plan                      1
purpose                        14
addr_state                     51
delinq_2yrs                    27
earliest_cr_line              709
inq_last_6mths                  9
open_acc                       68
pub_rec                        27
revol_bal                   61857
total_acc                     121
initial_list_status             2
out_prncp                       1
out_prncp_inv                   1
total_pymnt                496397
total_pymnt_inv            448284
total_rec_prncp            131175
total_rec_int              313229
total_rec_late_fee           8776
recoveries                  83927
collection_recovery_fee     88706
last_pymnt_amnt            305062
policy_code                     1
application_type                2
acc_now_delinq                  7
delinq_amnt                  1052
hardship_flag                   1
disbursement_method             2
debt_settlement_flag            2
loan_status                     2
dtype: int64

In [67]:
columns_to_drop = unique_value_counts[unique_value_counts==1].index
train.drop(columns=columns_to_drop , inplace=True)

In [68]:
train.head()

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,home_ownership,annual_inc,...,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_amnt,application_type,acc_now_delinq,delinq_amnt,disbursement_method,debt_settlement_flag,loan_status
0,14000,14000,14000.0,36 months,7.35,434.53,A,A4,MORTGAGE,44000.0,...,0.0,0.0,0.0,8611.87,Individual,0.0,0.0,Cash,N,1
1,2000,2000,2000.0,36 months,16.29,70.61,D,D2,MORTGAGE,11420.0,...,0.0,0.0,0.0,70.18,Individual,0.0,0.0,Cash,N,1
2,5000,5000,4750.0,36 months,7.39,155.28,A,A4,MORTGAGE,65000.0,...,0.0,0.0,0.0,2662.94,Individual,0.0,0.0,Cash,N,1
3,20600,20600,20600.0,36 months,11.99,684.12,B,B5,MORTGAGE,46956.0,...,0.0,0.0,0.0,683.96,Individual,0.0,0.0,Cash,N,1
4,10000,10000,10000.0,36 months,7.39,310.56,A,A4,MORTGAGE,115000.0,...,0.0,0.0,0.0,4753.53,Individual,0.0,0.0,Cash,N,1

In [69]:
train.describe

<bound method NDFrame.describe of         loan_amnt  funded_amnt  funded_amnt_inv        term  int_rate  \
0           14000        14000          14000.0   36 months      7.35
1            2000         2000           2000.0   36 months     16.29
2            5000         5000           4750.0   36 months      7.39
3           20600        20600          20600.0   36 months     11.99
4           10000        10000          10000.0   36 months      7.39
...           ...          ...              ...         ...       ...
517783       3600         3600           3600.0   36 months     20.31
517784       8000         8000           8000.0   36 months     13.99
517785      14000        14000          13925.0   60 months     18.25
517786       5200         5200           5200.0   36 months     17.27
517787       8000         8000           8000.0   36 months      7.12

        installment grade sub_grade home_ownership  annual_inc  ...  \
0            434.53     A        A4       MORTGAGE    44000.00  ...
1             70.61     D        D2       MORTGAGE    11420.00  ...
2            155.28     A        A4       MORTGAGE    65000.00  ...
3            684.12     B        B5       MORTGAGE    46956.00  ...
4            310.56     A        A4       MORTGAGE   115000.00  ...
...             ...   ...       ...            ...         ...  ...
517783       134.36     D        D5           RENT    48000.00  ...
517784       273.39     C        C3       MORTGAGE    68789.76  ...
517785       357.42     D        D3       MORTGAGE    86000.00  ...
517786       186.10     C        C5       MORTGAGE    70000.00  ...
517787       247.46     A        A3       MORTGAGE    90000.00  ...

       total_rec_late_fee recoveries collection_recovery_fee last_pymnt_amnt  \
0                0.000000       0.00                  0.0000         8611.87
1                0.000000       0.00                  0.0000           70.18
2                0.000000       0.00                  0.0000         2662.94
3                0.000000       0.00                  0.0000          683.96
4                0.000000       0.00                  0.0000         4753.53
...                   ...        ...                     ...             ...
517783          14.991083     413.91                  4.1360          134.36
517784           0.000000       0.00                  0.0000         4040.19
517785           0.000000    1860.08                 18.6008          357.42
517786           0.000000       0.00                  0.0000          185.80
517787           0.000000       0.00                  0.0000          737.95

        application_type acc_now_delinq  delinq_amnt  disbursement_method  \
0             Individual            0.0          0.0                 Cash
1             Individual            0.0          0.0                 Cash
2             Individual            0.0          0.0                 Cash
3             Individual            0.0          0.0                 Cash
4             Individual            0.0          0.0                 Cash
...                  ...            ...          ...                  ...
517783        Individual            0.0          0.0                 Cash
517784        Individual            0.0          0.0                 Cash
517785        Individual            0.0          0.0                 Cash
517786        Individual            0.0          0.0                 Cash
517787        Individual            0.0          0.0                 Cash

        debt_settlement_flag  loan_status
0                          N            1
1                          N            1
2                          N            1
3                          N            1
4                          N            1
...                      ...          ...
517783                     N            0
517784                     N            1
517785                     N            0
517786                     N            1
517787                     N            1

[517788 rows x 36 columns]>

In [70]:
print(train.dtypes)

loan_amnt                    int64
funded_amnt                  int64
funded_amnt_inv            float64
term                        object
int_rate                   float64
installment                float64
grade                       object
sub_grade                   object
home_ownership              object
annual_inc                 float64
verification_status         object
issue_d                     object
purpose                     object
addr_state                  object
delinq_2yrs                float64
earliest_cr_line            object
inq_last_6mths             float64
open_acc                   float64
pub_rec                    float64
revol_bal                    int64
total_acc                  float64
initial_list_status         object
total_pymnt                float64
total_pymnt_inv            float64
total_rec_prncp            float64
total_rec_int              float64
total_rec_late_fee         float64
recoveries                 float64
collection_recovery_fee    float64
last_pymnt_amnt            float64
application_type            object
acc_now_delinq             float64
delinq_amnt                float64
disbursement_method         object
debt_settlement_flag        object
loan_status                  int64
dtype: object

In [71]:
test.dropna(axis = 1 , inplace=True)

In [72]:
unique_value_counts_test = test.nunique()
columns_to_drop_test = unique_value_counts_test[unique_value_counts_test==1].index
test.drop(columns=columns_to_drop_test , inplace=True)

In [73]:
test.head()

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,home_ownership,annual_inc,...,recoveries,collection_recovery_fee,last_pymnt_amnt,application_type,acc_now_delinq,delinq_amnt,hardship_flag,disbursement_method,debt_settlement_flag,loan_status
0,14575,14575,14575.0,60 months,17.57,366.71,D,D2,RENT,36500.0,...,0.0,0.0,1799.88,Individual,0.0,0.0,N,Cash,N,1
1,10000,10000,10000.0,36 months,13.59,339.79,C,C2,RENT,66000.0,...,0.0,0.0,5612.73,Individual,0.0,0.0,N,Cash,N,1
2,17000,17000,17000.0,36 months,13.35,575.67,C,C2,MORTGAGE,65000.0,...,0.0,0.0,2272.98,Individual,0.0,0.0,N,Cash,N,1
3,4500,4500,4500.0,36 months,9.93,145.06,B,B2,RENT,21600.0,...,0.0,0.0,4452.14,Individual,0.0,0.0,N,Cash,N,1
4,6250,6250,6250.0,36 months,12.99,210.56,B,B4,RENT,35000.0,...,0.0,0.0,2587.58,Individual,0.0,0.0,N,Cash,N,1

In [74]:
train.columns

Index(['loan_amnt', 'funded_amnt', 'funded_amnt_inv', 'term', 'int_rate',
       'installment', 'grade', 'sub_grade', 'home_ownership', 'annual_inc',
       'verification_status', 'issue_d', 'purpose', 'addr_state',
       'delinq_2yrs', 'earliest_cr_line', 'inq_last_6mths', 'open_acc',
       'pub_rec', 'revol_bal', 'total_acc', 'initial_list_status',
       'total_pymnt', 'total_pymnt_inv', 'total_rec_prncp', 'total_rec_int',
       'total_rec_late_fee', 'recoveries', 'collection_recovery_fee',
       'last_pymnt_amnt', 'application_type', 'acc_now_delinq', 'delinq_amnt',
       'disbursement_method', 'debt_settlement_flag', 'loan_status'],
      dtype='object')

In [75]:
test.columns

Index(['loan_amnt', 'funded_amnt', 'funded_amnt_inv', 'term', 'int_rate',
       'installment', 'grade', 'sub_grade', 'home_ownership', 'annual_inc',
       'verification_status', 'issue_d', 'purpose', 'zip_code', 'addr_state',
       'delinq_2yrs', 'earliest_cr_line', 'inq_last_6mths', 'open_acc',
       'pub_rec', 'revol_bal', 'total_acc', 'initial_list_status',
       'total_pymnt', 'total_pymnt_inv', 'total_rec_prncp', 'total_rec_int',
       'total_rec_late_fee', 'recoveries', 'collection_recovery_fee',
       'last_pymnt_amnt', 'application_type', 'acc_now_delinq', 'delinq_amnt',
       'hardship_flag', 'disbursement_method', 'debt_settlement_flag',
       'loan_status'],
      dtype='object')

In [76]:
test.drop(labels= ["zip_code", "hardship_flag"] , axis = 1 , inplace=True)

In [77]:
test.head()

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,home_ownership,annual_inc,...,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_amnt,application_type,acc_now_delinq,delinq_amnt,disbursement_method,debt_settlement_flag,loan_status
0,14575,14575,14575.0,60 months,17.57,366.71,D,D2,RENT,36500.0,...,0.0,0.0,0.0,1799.88,Individual,0.0,0.0,Cash,N,1
1,10000,10000,10000.0,36 months,13.59,339.79,C,C2,RENT,66000.0,...,0.0,0.0,0.0,5612.73,Individual,0.0,0.0,Cash,N,1
2,17000,17000,17000.0,36 months,13.35,575.67,C,C2,MORTGAGE,65000.0,...,0.0,0.0,0.0,2272.98,Individual,0.0,0.0,Cash,N,1
3,4500,4500,4500.0,36 months,9.93,145.06,B,B2,RENT,21600.0,...,0.0,0.0,0.0,4452.14,Individual,0.0,0.0,Cash,N,1
4,6250,6250,6250.0,36 months,12.99,210.56,B,B4,RENT,35000.0,...,0.0,0.0,0.0,2587.58,Individual,0.0,0.0,Cash,N,1

In [78]:
train.head()

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,home_ownership,annual_inc,...,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_amnt,application_type,acc_now_delinq,delinq_amnt,disbursement_method,debt_settlement_flag,loan_status
0,14000,14000,14000.0,36 months,7.35,434.53,A,A4,MORTGAGE,44000.0,...,0.0,0.0,0.0,8611.87,Individual,0.0,0.0,Cash,N,1
1,2000,2000,2000.0,36 months,16.29,70.61,D,D2,MORTGAGE,11420.0,...,0.0,0.0,0.0,70.18,Individual,0.0,0.0,Cash,N,1
2,5000,5000,4750.0,36 months,7.39,155.28,A,A4,MORTGAGE,65000.0,...,0.0,0.0,0.0,2662.94,Individual,0.0,0.0,Cash,N,1
3,20600,20600,20600.0,36 months,11.99,684.12,B,B5,MORTGAGE,46956.0,...,0.0,0.0,0.0,683.96,Individual,0.0,0.0,Cash,N,1
4,10000,10000,10000.0,36 months,7.39,310.56,A,A4,MORTGAGE,115000.0,...,0.0,0.0,0.0,4753.53,Individual,0.0,0.0,Cash,N,1

In [79]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 517788 entries, 0 to 517787
Data columns (total 36 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   loan_amnt                517788 non-null  int64
 1   funded_amnt              517788 non-null  int64
 2   funded_amnt_inv          517788 non-null  float64
 3   term                     517788 non-null  object
 4   int_rate                 517788 non-null  float64
 5   installment              517788 non-null  float64
 6   grade                    517788 non-null  object
 7   sub_grade                517788 non-null  object
 8   home_ownership           517788 non-null  object
 9   annual_inc               517788 non-null  float64
 10  verification_status      517788 non-null  object
 11  issue_d                  517788 non-null  object
 12  purpose                  517788 non-null  object
 13  addr_state               517788 non-null  object
 14  delinq_2yrs              517788 non-null  float64
 15  earliest_cr_line         517788 non-null  object
 16  inq_last_6mths           517788 non-null  float64
 17  open_acc                 517788 non-null  float64
 18  pub_rec                  517788 non-null  float64
 19  revol_bal                517788 non-null  int64
 20  total_acc                517788 non-null  float64
 21  initial_list_status      517788 non-null  object
 22  total_pymnt              517788 non-null  float64
 23  total_pymnt_inv          517788 non-null  float64
 24  total_rec_prncp          517788 non-null  float64
 25  total_rec_int            517788 non-null  float64
 26  total_rec_late_fee       517788 non-null  float64
 27  recoveries               517788 non-null  float64
 28  collection_recovery_fee  517788 non-null  float64
 29  last_pymnt_amnt          517788 non-null  float64
 30  application_type         517788 non-null  object
 31  acc_now_delinq           517788 non-null  float64
 32  delinq_amnt              517788 non-null  float64
 33  disbursement_method      517788 non-null  object
 34  debt_settlement_flag     517788 non-null  object
 35  loan_status              517788 non-null  int64
dtypes: float64(19), int64(4), object(13)
memory usage: 142.2+ MB

In [80]:
train["term"].unique()

array([' 36 months', ' 60 months'], dtype=object)

In [81]:
from sklearn.preprocessing import OrdinalEncoder

term_order = [" 60 months"," 36 months"]
oe = OrdinalEncoder(categories=[term_order])
train[["term"]] = oe.fit_transform(train[["term"]])

In [82]:
train.head()

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,home_ownership,annual_inc,...,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_amnt,application_type,acc_now_delinq,delinq_amnt,disbursement_method,debt_settlement_flag,loan_status
0,14000,14000,14000.0,1.0,7.35,434.53,A,A4,MORTGAGE,44000.0,...,0.0,0.0,0.0,8611.87,Individual,0.0,0.0,Cash,N,1
1,2000,2000,2000.0,1.0,16.29,70.61,D,D2,MORTGAGE,11420.0,...,0.0,0.0,0.0,70.18,Individual,0.0,0.0,Cash,N,1
2,5000,5000,4750.0,1.0,7.39,155.28,A,A4,MORTGAGE,65000.0,...,0.0,0.0,0.0,2662.94,Individual,0.0,0.0,Cash,N,1
3,20600,20600,20600.0,1.0,11.99,684.12,B,B5,MORTGAGE,46956.0,...,0.0,0.0,0.0,683.96,Individual,0.0,0.0,Cash,N,1
4,10000,10000,10000.0,1.0,7.39,310.56,A,A4,MORTGAGE,115000.0,...,0.0,0.0,0.0,4753.53,Individual,0.0,0.0,Cash,N,1

In [83]:
train.tail()

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,home_ownership,annual_inc,...,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_amnt,application_type,acc_now_delinq,delinq_amnt,disbursement_method,debt_settlement_flag,loan_status
517783,3600,3600,3600.0,1.0,20.31,134.36,D,D5,RENT,48000.00,...,14.991083,413.91,4.1360,134.36,Individual,0.0,0.0,Cash,N,0
517784,8000,8000,8000.0,1.0,13.99,273.39,C,C3,MORTGAGE,68789.76,...,0.000000,0.00,0.0000,4040.19,Individual,0.0,0.0,Cash,N,1
517785,14000,14000,13925.0,0.0,18.25,357.42,D,D3,MORTGAGE,86000.00,...,0.000000,1860.08,18.6008,357.42,Individual,0.0,0.0,Cash,N,0
517786,5200,5200,5200.0,1.0,17.27,186.10,C,C5,MORTGAGE,70000.00,...,0.000000,0.00,0.0000,185.80,Individual,0.0,0.0,Cash,N,1
517787,8000,8000,8000.0,1.0,7.12,247.46,A,A3,MORTGAGE,90000.00,...,0.000000,0.00,0.0000,737.95,Individual,0.0,0.0,Cash,N,1

In [84]:
test[["term"]] = oe.fit_transform(test[["term"]])

In [85]:
test.head()

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,home_ownership,annual_inc,...,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_amnt,application_type,acc_now_delinq,delinq_amnt,disbursement_method,debt_settlement_flag,loan_status
0,14575,14575,14575.0,0.0,17.57,366.71,D,D2,RENT,36500.0,...,0.0,0.0,0.0,1799.88,Individual,0.0,0.0,Cash,N,1
1,10000,10000,10000.0,1.0,13.59,339.79,C,C2,RENT,66000.0,...,0.0,0.0,0.0,5612.73,Individual,0.0,0.0,Cash,N,1
2,17000,17000,17000.0,1.0,13.35,575.67,C,C2,MORTGAGE,65000.0,...,0.0,0.0,0.0,2272.98,Individual,0.0,0.0,Cash,N,1
3,4500,4500,4500.0,1.0,9.93,145.06,B,B2,RENT,21600.0,...,0.0,0.0,0.0,4452.14,Individual,0.0,0.0,Cash,N,1
4,6250,6250,6250.0,1.0,12.99,210.56,B,B4,RENT,35000.0,...,0.0,0.0,0.0,2587.58,Individual,0.0,0.0,Cash,N,1

In [86]:
train["grade"].unique()

array(['A', 'D', 'B', 'C', 'E', 'F', 'G'], dtype=object)

In [87]:
def encode_grades(grades):
    if grades == 'G': return 0
    if grades == 'F': return 1
    if grades == 'E': return 2
    if grades == 'D': return 3
    if grades == 'C': return 4
    if grades == 'B': return 5
    if grades == 'A': return 6

train["grade"] = train["grade"].apply(encode_grades)

In [88]:
train.head()

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,home_ownership,annual_inc,...,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_amnt,application_type,acc_now_delinq,delinq_amnt,disbursement_method,debt_settlement_flag,loan_status
0,14000,14000,14000.0,1.0,7.35,434.53,6,A4,MORTGAGE,44000.0,...,0.0,0.0,0.0,8611.87,Individual,0.0,0.0,Cash,N,1
1,2000,2000,2000.0,1.0,16.29,70.61,3,D2,MORTGAGE,11420.0,...,0.0,0.0,0.0,70.18,Individual,0.0,0.0,Cash,N,1
2,5000,5000,4750.0,1.0,7.39,155.28,6,A4,MORTGAGE,65000.0,...,0.0,0.0,0.0,2662.94,Individual,0.0,0.0,Cash,N,1
3,20600,20600,20600.0,1.0,11.99,684.12,5,B5,MORTGAGE,46956.0,...,0.0,0.0,0.0,683.96,Individual,0.0,0.0,Cash,N,1
4,10000,10000,10000.0,1.0,7.39,310.56,6,A4,MORTGAGE,115000.0,...,0.0,0.0,0.0,4753.53,Individual,0.0,0.0,Cash,N,1

In [89]:
train.drop(labels=["grade"] , axis = 1 , inplace=True)
test.drop(labels=["grade"] , axis = 1 , inplace=True)

In [90]:
train.head()

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,sub_grade,home_ownership,annual_inc,verification_status,...,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_amnt,application_type,acc_now_delinq,delinq_amnt,disbursement_method,debt_settlement_flag,loan_status
0,14000,14000,14000.0,1.0,7.35,434.53,A4,MORTGAGE,44000.0,Not Verified,...,0.0,0.0,0.0,8611.87,Individual,0.0,0.0,Cash,N,1
1,2000,2000,2000.0,1.0,16.29,70.61,D2,MORTGAGE,11420.0,Verified,...,0.0,0.0,0.0,70.18,Individual,0.0,0.0,Cash,N,1
2,5000,5000,4750.0,1.0,7.39,155.28,A4,MORTGAGE,65000.0,Not Verified,...,0.0,0.0,0.0,2662.94,Individual,0.0,0.0,Cash,N,1
3,20600,20600,20600.0,1.0,11.99,684.12,B5,MORTGAGE,46956.0,Source Verified,...,0.0,0.0,0.0,683.96,Individual,0.0,0.0,Cash,N,1
4,10000,10000,10000.0,1.0,7.39,310.56,A4,MORTGAGE,115000.0,Source Verified,...,0.0,0.0,0.0,4753.53,Individual,0.0,0.0,Cash,N,1

In [91]:
train["sub_grade"].unique()

array(['A4', 'D2', 'B5', 'C4', 'C1', 'B2', 'A5', 'E1', 'C5', 'A3', 'D5',
       'E3', 'B1', 'C3', 'B3', 'D3', 'B4', 'D4', 'C2', 'A1', 'F4', 'D1',
       'A2', 'F1', 'E2', 'G4', 'E4', 'F2', 'F3', 'G2', 'G5', 'F5', 'E5',
       'G1', 'G3'], dtype=object)

In [92]:
train["sub_grade"] = train["sub_grade"].astype(str)
test["sub_grade"] = test["sub_grade"].astype(str)

def encode_subgrades(term):
    letter_part = term[0]
    number_part = int(term[1])
    letter_value = ord(letter_part) - ord('A') + 1
    encoded_value = (letter_value - 1)*5 + number_part
    return encoded_value


train["sub_grade"] = train["sub_grade"].apply(encode_subgrades)
test["sub_grade"] = test["sub_grade"].apply(encode_subgrades)

In [94]:
train.head()

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,sub_grade,home_ownership,annual_inc,verification_status,...,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_amnt,application_type,acc_now_delinq,delinq_amnt,disbursement_method,debt_settlement_flag,loan_status
0,14000,14000,14000.0,1.0,7.35,434.53,4,MORTGAGE,44000.0,Not Verified,...,0.0,0.0,0.0,8611.87,Individual,0.0,0.0,Cash,N,1
1,2000,2000,2000.0,1.0,16.29,70.61,17,MORTGAGE,11420.0,Verified,...,0.0,0.0,0.0,70.18,Individual,0.0,0.0,Cash,N,1
2,5000,5000,4750.0,1.0,7.39,155.28,4,MORTGAGE,65000.0,Not Verified,...,0.0,0.0,0.0,2662.94,Individual,0.0,0.0,Cash,N,1
3,20600,20600,20600.0,1.0,11.99,684.12,10,MORTGAGE,46956.0,Source Verified,...,0.0,0.0,0.0,683.96,Individual,0.0,0.0,Cash,N,1
4,10000,10000,10000.0,1.0,7.39,310.56,4,MORTGAGE,115000.0,Source Verified,...,0.0,0.0,0.0,4753.53,Individual,0.0,0.0,Cash,N,1

In [95]:
test.head()

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,sub_grade,home_ownership,annual_inc,verification_status,...,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_amnt,application_type,acc_now_delinq,delinq_amnt,disbursement_method,debt_settlement_flag,loan_status
0,14575,14575,14575.0,0.0,17.57,366.71,17,RENT,36500.0,Source Verified,...,0.0,0.0,0.0,1799.88,Individual,0.0,0.0,Cash,N,1
1,10000,10000,10000.0,1.0,13.59,339.79,12,RENT,66000.0,Source Verified,...,0.0,0.0,0.0,5612.73,Individual,0.0,0.0,Cash,N,1
2,17000,17000,17000.0,1.0,13.35,575.67,12,MORTGAGE,65000.0,Verified,...,0.0,0.0,0.0,2272.98,Individual,0.0,0.0,Cash,N,1
3,4500,4500,4500.0,1.0,9.93,145.06,7,RENT,21600.0,Source Verified,...,0.0,0.0,0.0,4452.14,Individual,0.0,0.0,Cash,N,1
4,6250,6250,6250.0,1.0,12.99,210.56,9,RENT,35000.0,Not Verified,...,0.0,0.0,0.0,2587.58,Individual,0.0,0.0,Cash,N,1

In [98]:
train["home_ownership"].unique()

array(['MORTGAGE', 'RENT', 'OWN', 'ANY', 'OTHER', 'NONE'], dtype=object)

In [100]:
from sklearn.preprocessing import OneHotEncoder

ohe = OneHotEncoder()
feature_array = ohe.fit_transform(train[["home_ownership"]]).toarray()
feature_labels = ohe.categories_
feature_labels = np.array(feature_labels).ravel()

feature = pd.DataFrame(feature_array , columns=feature_labels)

train = pd.concat([train , feature] , axis=1)

print(train)

        loan_amnt  funded_amnt  funded_amnt_inv  term  int_rate  installment  \
0           14000        14000          14000.0   1.0      7.35       434.53
1            2000         2000           2000.0   1.0     16.29        70.61
2            5000         5000           4750.0   1.0      7.39       155.28
3           20600        20600          20600.0   1.0     11.99       684.12
4           10000        10000          10000.0   1.0      7.39       310.56
...           ...          ...              ...   ...       ...          ...
517783       3600         3600           3600.0   1.0     20.31       134.36
517784       8000         8000           8000.0   1.0     13.99       273.39
517785      14000        14000          13925.0   0.0     18.25       357.42
517786       5200         5200           5200.0   1.0     17.27       186.10
517787       8000         8000           8000.0   1.0      7.12       247.46

        sub_grade home_ownership  annual_inc verification_status  ...  \
0               4       MORTGAGE    44000.00        Not Verified  ...
1              17       MORTGAGE    11420.00            Verified  ...
2               4       MORTGAGE    65000.00        Not Verified  ...
3              10       MORTGAGE    46956.00     Source Verified  ...
4               4       MORTGAGE   115000.00     Source Verified  ...
...           ...            ...         ...                 ...  ...
517783         20           RENT    48000.00            Verified  ...
517784         13       MORTGAGE    68789.76     Source Verified  ...
517785         18       MORTGAGE    86000.00     Source Verified  ...
517786         15       MORTGAGE    70000.00            Verified  ...
517787          3       MORTGAGE    90000.00     Source Verified  ...

       delinq_amnt disbursement_method debt_settlement_flag  loan_status  ANY  \
0              0.0                Cash                    N            1  0.0
1              0.0                Cash                    N            1  0.0
2              0.0                Cash                    N            1  0.0
3              0.0                Cash                    N            1  0.0
4              0.0                Cash                    N            1  0.0
...            ...                 ...                  ...          ...  ...
517783         0.0                Cash                    N            0  0.0
517784         0.0                Cash                    N            1  0.0
517785         0.0                Cash                    N            0  0.0
517786         0.0                Cash                    N            1  0.0
517787         0.0                Cash                    N            1  0.0

        MORTGAGE  NONE  OTHER  OWN  RENT
0            1.0   0.0    0.0  0.0   0.0
1            1.0   0.0    0.0  0.0   0.0
2            1.0   0.0    0.0  0.0   0.0
3            1.0   0.0    0.0  0.0   0.0
4            1.0   0.0    0.0  0.0   0.0
...          ...   ...    ...  ...   ...
517783       0.0   0.0    0.0  0.0   1.0
517784       1.0   0.0    0.0  0.0   0.0
517785       1.0   0.0    0.0  0.0   0.0
517786       1.0   0.0    0.0  0.0   0.0
517787       1.0   0.0    0.0  0.0   0.0

[517788 rows x 41 columns]

In [101]:
train["verification_status"].unique()

array(['Not Verified', 'Verified', 'Source Verified'], dtype=object)

In [102]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

train["verification_status"] = le.fit_transform(train["verification_status"])

In [103]:
train.head()

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,sub_grade,home_ownership,annual_inc,verification_status,...,delinq_amnt,disbursement_method,debt_settlement_flag,loan_status,ANY,MORTGAGE,NONE,OTHER,OWN,RENT
0,14000,14000,14000.0,1.0,7.35,434.53,4,MORTGAGE,44000.0,0,...,0.0,Cash,N,1,0.0,1.0,0.0,0.0,0.0,0.0
1,2000,2000,2000.0,1.0,16.29,70.61,17,MORTGAGE,11420.0,2,...,0.0,Cash,N,1,0.0,1.0,0.0,0.0,0.0,0.0
2,5000,5000,4750.0,1.0,7.39,155.28,4,MORTGAGE,65000.0,0,...,0.0,Cash,N,1,0.0,1.0,0.0,0.0,0.0,0.0
3,20600,20600,20600.0,1.0,11.99,684.12,10,MORTGAGE,46956.0,1,...,0.0,Cash,N,1,0.0,1.0,0.0,0.0,0.0,0.0
4,10000,10000,10000.0,1.0,7.39,310.56,4,MORTGAGE,115000.0,1,...,0.0,Cash,N,1,0.0,1.0,0.0,0.0,0.0,0.0

In [106]:
train["issue_d"].unique()

array(['Aug-2017', 'Jul-2014', 'Mar-2016', 'Jan-2015', 'May-2016',
       'Jun-2015', 'Mar-2017', 'Aug-2014', 'Oct-2015', 'Feb-2015',
       'Aug-2015', 'Nov-2015', 'Dec-2014', 'Feb-2016', 'Jul-2011',
       'Jan-2014', 'Dec-2017', 'Jul-2015', 'Jan-2013', 'Jul-2017',
       'May-2017', 'Apr-2015', 'Jul-2012', 'Sep-2013', 'Nov-2012',
       'Sep-2017', 'Apr-2016', 'Sep-2012', 'Mar-2014', 'Feb-2017',
       'Dec-2015', 'Oct-2013', 'Jan-2017', 'Aug-2018', 'Nov-2013',
       'Apr-2017', 'Oct-2014', 'Jun-2017', 'Apr-2014', 'Oct-2012',
       'May-2014', 'Jul-2013', 'Jan-2011', 'Sep-2015', 'Apr-2018',
       'Dec-2011', 'Nov-2016', 'Jul-2016', 'Jun-2016', 'Aug-2010',
       'May-2015', 'Jan-2016', 'Nov-2017', 'May-2013', 'Nov-2014',
       'Dec-2016', 'Aug-2012', 'Aug-2016', 'Feb-2018', 'Mar-2011',
       'Oct-2016', 'Sep-2014', 'Mar-2015', 'Feb-2011', 'Jun-2013',
       'Sep-2010', 'Dec-2013', 'Jun-2012', 'Aug-2013', 'Nov-2011',
       'Jun-2014', 'Feb-2013', 'Feb-2012', 'Jan-2012', 'Mar-2013',
       'Jul-2010', 'Oct-2011', 'Feb-2010', 'Feb-2014', 'Sep-2016',
       'Sep-2018', 'Jun-2018', 'Oct-2010', 'Oct-2017', 'Jul-2018',
       'May-2011', 'Apr-2013', 'May-2010', 'Mar-2018', 'Dec-2009',
       'Oct-2009', 'May-2018', 'Jan-2018', 'May-2012', 'Jun-2011',
       'Dec-2012', 'Sep-2011', 'Mar-2008', 'Jul-2009', 'Mar-2012',
       'Apr-2009', 'Dec-2010', 'Oct-2018', 'Jan-2010', 'Apr-2010',
       'Aug-2011', 'May-2009', 'Apr-2011', 'Jun-2010', 'Mar-2009',
       'Nov-2009', 'Apr-2012', 'Nov-2010', 'May-2008', 'Dec-2008',
       'Jan-2008', 'Jan-2009', 'Dec-2018', 'Aug-2009', 'Mar-2010',
       'Feb-2008', 'Nov-2018', 'Apr-2008', 'Jun-2009', 'Oct-2007',
       'Dec-2007', 'Aug-2008', 'Nov-2008', 'Nov-2007', 'Sep-2009',
       'Aug-2007', 'Feb-2009', 'Oct-2008', 'Jun-2008', 'Sep-2008',
       'Jul-2008', 'Sep-2007', 'Jul-2007'], dtype=object)

In [107]:
train["issue_d"] = pd.to_datetime(train["issue_d"])

train["issue_day"] = train["issue_d"].dt.day
train["issue_month"] = train["issue_d"].dt.month
train["issue_year"] = train["issue_d"].dt.year

C:\Users\Chirantha Ravishan\AppData\Local\Temp\ipykernel_5080\3815059541.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  train["issue_d"] = pd.to_datetime(train["issue_d"])

In [108]:
print(train)

        loan_amnt  funded_amnt  funded_amnt_inv  term  int_rate  installment  \
0           14000        14000          14000.0   1.0      7.35       434.53
1            2000         2000           2000.0   1.0     16.29        70.61
2            5000         5000           4750.0   1.0      7.39       155.28
3           20600        20600          20600.0   1.0     11.99       684.12
4           10000        10000          10000.0   1.0      7.39       310.56
...           ...          ...              ...   ...       ...          ...
517783       3600         3600           3600.0   1.0     20.31       134.36
517784       8000         8000           8000.0   1.0     13.99       273.39
517785      14000        14000          13925.0   0.0     18.25       357.42
517786       5200         5200           5200.0   1.0     17.27       186.10
517787       8000         8000           8000.0   1.0      7.12       247.46

        sub_grade home_ownership  annual_inc  verification_status  ...  \
0               4       MORTGAGE    44000.00                    0  ...
1              17       MORTGAGE    11420.00                    2  ...
2               4       MORTGAGE    65000.00                    0  ...
3              10       MORTGAGE    46956.00                    1  ...
4               4       MORTGAGE   115000.00                    1  ...
...           ...            ...         ...                  ...  ...
517783         20           RENT    48000.00                    2  ...
517784         13       MORTGAGE    68789.76                    1  ...
517785         18       MORTGAGE    86000.00                    1  ...
517786         15       MORTGAGE    70000.00                    2  ...
517787          3       MORTGAGE    90000.00                    1  ...

       loan_status  ANY MORTGAGE  NONE OTHER  OWN  RENT  issue_day  \
0                1  0.0      1.0   0.0   0.0  0.0   0.0          1
1                1  0.0      1.0   0.0   0.0  0.0   0.0          1
2                1  0.0      1.0   0.0   0.0  0.0   0.0          1
3                1  0.0      1.0   0.0   0.0  0.0   0.0          1
4                1  0.0      1.0   0.0   0.0  0.0   0.0          1
...            ...  ...      ...   ...   ...  ...   ...        ...
517783           0  0.0      0.0   0.0   0.0  0.0   1.0          1
517784           1  0.0      1.0   0.0   0.0  0.0   0.0          1
517785           0  0.0      1.0   0.0   0.0  0.0   0.0          1
517786           1  0.0      1.0   0.0   0.0  0.0   0.0          1
517787           1  0.0      1.0   0.0   0.0  0.0   0.0          1

        issue_month  issue_year
0                 8        2017
1                 7        2014
2                 3        2016
3                 1        2015
4                 3        2016
...             ...         ...
517783            7        2013
517784            5        2017
517785            2        2014
517786            2        2013
517787           10        2014

[517788 rows x 44 columns]

In [109]:
train["purpose"].unique()

array(['debt_consolidation', 'credit_card', 'home_improvement', 'other',
       'car', 'vacation', 'small_business', 'moving', 'house', 'medical',
       'major_purchase', 'renewable_energy', 'wedding', 'educational'],
      dtype=object)

In [114]:
from sklearn.preprocessing import OneHotEncoder
ohe_2 = OneHotEncoder()
feature_array_2 = ohe_2.fit_transform(train[["purpose"]]).toarray()

feature_labels_2 = ohe_2.categories_
feature_labels_2 = np.array(feature_labels_2).ravel()

feature_2 = pd.DataFrame(feature_array_2 , columns=feature_labels_2)

train = pd.concat([train , feature_2] , axis = 1)

print(train)

        loan_amnt  funded_amnt  funded_amnt_inv  term  int_rate  installment  \
0           14000        14000          14000.0   1.0      7.35       434.53
1            2000         2000           2000.0   1.0     16.29        70.61
2            5000         5000           4750.0   1.0      7.39       155.28
3           20600        20600          20600.0   1.0     11.99       684.12
4           10000        10000          10000.0   1.0      7.39       310.56
...           ...          ...              ...   ...       ...          ...
517783       3600         3600           3600.0   1.0     20.31       134.36
517784       8000         8000           8000.0   1.0     13.99       273.39
517785      14000        14000          13925.0   0.0     18.25       357.42
517786       5200         5200           5200.0   1.0     17.27       186.10
517787       8000         8000           8000.0   1.0      7.12       247.46

        sub_grade home_ownership  annual_inc  verification_status  ...  \
0               4       MORTGAGE    44000.00                    0  ...
1              17       MORTGAGE    11420.00                    2  ...
2               4       MORTGAGE    65000.00                    0  ...
3              10       MORTGAGE    46956.00                    1  ...
4               4       MORTGAGE   115000.00                    1  ...
...           ...            ...         ...                  ...  ...
517783         20           RENT    48000.00                    2  ...
517784         13       MORTGAGE    68789.76                    1  ...
517785         18       MORTGAGE    86000.00                    1  ...
517786         15       MORTGAGE    70000.00                    2  ...
517787          3       MORTGAGE    90000.00                    1  ...

       home_improvement house major_purchase  medical moving  other  \
0                   0.0   0.0            0.0      0.0    0.0    0.0
1                   0.0   0.0            0.0      0.0    0.0    0.0
2                   0.0   0.0            0.0      0.0    0.0    0.0
3                   0.0   0.0            0.0      0.0    0.0    0.0
4                   0.0   0.0            0.0      0.0    0.0    0.0
...                 ...   ...            ...      ...    ...    ...
517783              0.0   0.0            0.0      1.0    0.0    0.0
517784              0.0   0.0            0.0      0.0    0.0    0.0
517785              0.0   0.0            0.0      0.0    0.0    0.0
517786              0.0   0.0            0.0      0.0    0.0    0.0
517787              0.0   0.0            0.0      0.0    0.0    0.0

        renewable_energy  small_business  vacation  wedding
0                    0.0             0.0       0.0      0.0
1                    0.0             0.0       0.0      0.0
2                    0.0             0.0       0.0      0.0
3                    0.0             0.0       0.0      0.0
4                    0.0             0.0       0.0      0.0
...                  ...             ...       ...      ...
517783               0.0             0.0       0.0      0.0
517784               0.0             0.0       0.0      0.0
517785               0.0             0.0       0.0      0.0
517786               0.0             0.0       0.0      0.0
517787               0.0             0.0       0.0      0.0

[517788 rows x 58 columns]

In [115]:
from sklearn.preprocessing import OneHotEncoder
ohe_3 = OneHotEncoder()
feature_array_3 = ohe_3.fit_transform(test[["home_ownership"]]).toarray()
feature_labels_3 = ohe_3.categories_
feature_labels_3 = np.array(feature_labels_3).ravel()
feature_3 = pd.DataFrame(feature_array_3 , columns=feature_labels_3)
test = pd.concat([test , feature_3] , axis=1)

from sklearn.preprocessing import LabelEncoder
le_1 = LabelEncoder()
test["verification_status"] = le_1.fit_transform(test["verification_status"])

test["issue_d"] = pd.to_datetime(test["issue_d"])
test["issue_day"] = test["issue_d"].dt.day
test["issue_month"] = test["issue_d"].dt.month
test["issue_year"] = test["issue_d"].dt.year

from sklearn.preprocessing import OneHotEncoder
ohe_4 = OneHotEncoder()
feature_array_4 = ohe_4.fit_transform(train[["purpose"]]).toarray()
feature_labels_4 = ohe_4.categories_
feature_labels_4 = np.array(feature_labels_4).ravel()
feature_4 = pd.DataFrame(feature_array_4 , columns=feature_labels_4)
train = pd.concat([train , feature_4] , axis = 1)

C:\Users\Chirantha Ravishan\AppData\Local\Temp\ipykernel_5080\387856420.py:13: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  test["issue_d"] = pd.to_datetime(test["issue_d"])

In [117]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 517788 entries, 0 to 517787
Data columns (total 72 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   loan_amnt                517788 non-null  int64
 1   funded_amnt              517788 non-null  int64
 2   funded_amnt_inv          517788 non-null  float64
 3   term                     517788 non-null  float64
 4   int_rate                 517788 non-null  float64
 5   installment              517788 non-null  float64
 6   sub_grade                517788 non-null  int64
 7   home_ownership           517788 non-null  object
 8   annual_inc               517788 non-null  float64
 9   verification_status      517788 non-null  int32
 10  issue_d                  517788 non-null  datetime64[ns]
 11  purpose                  517788 non-null  object
 12  addr_state               517788 non-null  object
 13  delinq_2yrs              517788 non-null  float64
 14  earliest_cr_line         517788 non-null  object
 15  inq_last_6mths           517788 non-null  float64
 16  open_acc                 517788 non-null  float64
 17  pub_rec                  517788 non-null  float64
 18  revol_bal                517788 non-null  int64
 19  total_acc                517788 non-null  float64
 20  initial_list_status      517788 non-null  object
 21  total_pymnt              517788 non-null  float64
 22  total_pymnt_inv          517788 non-null  float64
 23  total_rec_prncp          517788 non-null  float64
 24  total_rec_int            517788 non-null  float64
 25  total_rec_late_fee       517788 non-null  float64
 26  recoveries               517788 non-null  float64
 27  collection_recovery_fee  517788 non-null  float64
 28  last_pymnt_amnt          517788 non-null  float64
 29  application_type         517788 non-null  object
 30  acc_now_delinq           517788 non-null  float64
 31  delinq_amnt              517788 non-null  float64
 32  disbursement_method      517788 non-null  object
 33  debt_settlement_flag     517788 non-null  object
 34  loan_status              517788 non-null  int64
 35  ANY                      517788 non-null  float64
 36  MORTGAGE                 517788 non-null  float64
 37  NONE                     517788 non-null  float64
 38  OTHER                    517788 non-null  float64
 39  OWN                      517788 non-null  float64
 40  RENT                     517788 non-null  float64
 41  issue_day                517788 non-null  int32
 42  issue_month              517788 non-null  int32
 43  issue_year               517788 non-null  int32
 44  car                      517788 non-null  float64
 45  credit_card              517788 non-null  float64
 46  debt_consolidation       517788 non-null  float64
 47  educational              517788 non-null  float64
 48  home_improvement         517788 non-null  float64
 49  house                    517788 non-null  float64
 50  major_purchase           517788 non-null  float64
 51  medical                  517788 non-null  float64
 52  moving                   517788 non-null  float64
 53  other                    517788 non-null  float64
 54  renewable_energy         517788 non-null  float64
 55  small_business           517788 non-null  float64
 56  vacation                 517788 non-null  float64
 57  wedding                  517788 non-null  float64
 58  car                      517788 non-null  float64
 59  credit_card              517788 non-null  float64
 60  debt_consolidation       517788 non-null  float64
 61  educational              517788 non-null  float64
 62  home_improvement         517788 non-null  float64
 63  house                    517788 non-null  float64
 64  major_purchase           517788 non-null  float64
 65  medical                  517788 non-null  float64
 66  moving                   517788 non-null  float64
 67  other                    517788 non-null  float64
 68  renewable_energy         517788 non-null  float64
 69  small_business           517788 non-null  float64
 70  vacation                 517788 non-null  float64
 71  wedding                  517788 non-null  float64
dtypes: datetime64[ns](1), float64(54), int32(4), int64(5), object(8)
memory usage: 276.5+ MB

In [119]:
train["addr_state"].unique()

array(['OK', 'FL', 'TX', 'PA', 'NJ', 'CO', 'MS', 'VT', 'UT', 'MD', 'GA',
       'CA', 'NY', 'MA', 'IL', 'WI', 'WA', 'AZ', 'OH', 'VA', 'OR', 'MO',
       'MI', 'CT', 'SC', 'LA', 'TN', 'IN', 'NC', 'NM', 'AL', 'KS', 'WV',
       'HI', 'MN', 'NE', 'NH', 'DE', 'AR', 'DC', 'WY', 'NV', 'KY', 'RI',
       'AK', 'SD', 'MT', 'ND', 'ID', 'ME', 'IA'], dtype=object)

In [121]:
from sklearn.preprocessing import OneHotEncoder

ohe_5 = OneHotEncoder()
feature_array_5 = ohe_5.fit_transform(train[["addr_state"]]).toarray()
feature_labels_5 = ohe_5.categories_
feature_labels_5 = np.array(feature_labels_5).ravel()
feature_5 = pd.DataFrame(feature_array_5 , columns=feature_labels_5)
train = pd.concat([train , feature_5] , axis = 1)

ohe_6 = OneHotEncoder()
feature_array_6 = ohe_6.fit_transform(train[["addr_state"]]).toarray()
feature_labels_6 = ohe_6.categories_
feature_labels_6 = np.array(feature_labels_6).ravel()
feature_6 = pd.DataFrame(feature_array_6 , columns=feature_labels_6)
train = pd.concat([train , feature_6] , axis = 1)